@import 'partials/variables';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.input{
    position: relative;
    margin-left: 20px;
    width: 100%;
    input{
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
}
.hassublime{
    position: absolute;
    display: none;
}
.sublime{
    position: relative;
&:hover
.hassublime{
    display: block;
}
}


.icn-box{
    position: absolute;
    right: 0;
    top: 10px;
    transform: rotate(270deg);
    font-size: $icon-size;
    color: $icon-color;
    &:hover{
        color: $hover-color;
    }
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 5%;
    a{
        text-decoration: none;
    }
    ul{
        display: flex;
        li{
           padding: 30px;
           list-style: none;
           a{
            text-decoration: none;
           }
        }
    }
   
  .item{
    display: flex;
    justify-content: space-between;
    
  }  
}

